@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #273244;
  margin: 0;
}

.app {
  display: flex;
  position: relative;
}

.pro-menu-item.active {
  color: #00e0ff !important;
}
.pro-inner-item:hover {
  color: inherit !important;
  background-color: inherit !important;
  cursor: default !important;
}
.active > .pro-inner-item {
  border-right: 3px solid #00e0ff;
}
.MuiCard-root.card {
  background-color: #394b61;
  color: #d4d7dd;
  font-size: 25px;
  font-weight: 200;
  line-height: 20.43px;
}
